<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style
         include ../public/created.css
         include ../public/create.css
         include ../public/quiz.css
</head>
<body>
    <div class="container" id ="contain">
    <div class="nav">
        <ul class="list">
            <a href="/">
                <img src="./logo2.png" alt="" srcset="">

            </a>
            <li><a href="/">HOME</a></li>
            <li><a href="">EVENTS</a></li>
            <li><a href="/create">CREATE</a></li>
            <li><a href="/analytics" class="select">ANALYTICS</a></li>
        </ul>
    </div>
       
<form action="/result" method="post" id="form">
            <input type="text" class="display" id="input"  name="code">
</form>

        <div id="container">
            
        </div>
</div>

     script(src="./created.js")
     script(src="./analytics.js")
 
</body>
</html>