<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style
         include ../public/created.css
         include ../public/create.css
         include ../public/quiz.css
</head>
<body>
    <div class="container">
    <div class="nav">
        <ul class="list">
            <a href="/">
                <img src="./logo2.png" alt="" srcset="">

            </a>
            <li><a href="/">HOME</a></li>
            <li><a href="">EVENTS</a></li>
            <li><a href="/create">CREATE</a></li>
            <li><a href="/analytics">ANALYTICS</a></li>
        </ul>
    </div>
       <div class="section">
            <div class="front"><a href="/create">New</a></div>
            <div class="border back">Created</div>
       </div>
       
        <div id="container">
            
        </div>
</div>
 <script  src="./created.js">
    </script>
</body>
</html>