<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style
         include ../public/create.css
         include ../public/quiz.css
         include ../public/exam.css
</head>

<body>
    <div class="container">
        <div class="nav">
            <ul class="list">
                <a href="/">
                    <img src="./logo2.png" alt="" srcset="">

                </a>
                <li><a href="/">HOME</a></li>
                <li><a href="">EVENTS</a></li>
                <li><a href="/create" class="creat">CREATE</a></li>
                <li><a href="/analytics">ANALYTICS</a></li>
            </ul>
        </div>
            <div class="heading">
                <div id="head" class="title-input center" ></div>

            </div>
            <div class="total_q">
                <div  class="options-input number" name="" >Total questions :  &nbsp;<div id="number" class="get center"></div></div>
                
            </div>
        <form action="/submit" method="post">
            <input type="text" placeholder="NAME" name="name" class="name">
            <input type="text" id="code" name="code" class="none">
            <div id="container" class="questions heading">

                <div class="input-questions center"></div>
                 <div class="new">
                    <div class="options">

                        <input type="checkbox"  class="check display" name="answer" value="1">
                        <label class="option  center option1" for="answer"></label>

                        <input type="checkbox"  class="check display" name="answer" value="2">
                        <label class="option  center option2" for="answer"></label>

                        <input type="checkbox"  class="check display" name="answer" value="3">
                        <label class="option  center option3" for="answer"></label>

                        <input type="checkbox"  class="check display" name="answer" value="4">
                        <label class="option  center option4" for="answer"></label>
                    </div>
                </div>

            </div>
            <div class="submit">
                <button class="btn">Submit</button>
            </div>
        </form>
    </div>
    <script src="./exam.js"></script>
</body>

</html>