<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    style
         include ../public/quiz.css
         include ../public/submit.css
         include ../public/create.css
</head>

<body>
    <div class="container">
        <div class="nav">
            <ul class="list">
                <a href="">
                    <img src="./logo2.png" alt="" srcset="">

                </a>
                <li><a href="">HOME</a></li>
                <li><a href="">EVENTS</a></li>
                <li><a href="" class="creat">CREATE</a></li>
                <li><a href="">ANALYTICS</a></li>
            </ul>
        </div>
  
            <div class="head"> Created Sucessfully !!!
                <div  id="new_code" class="new_code">#{code}</div>
               
            </div>
    </div>
</body>

</html>